################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LOGIN/appsettings.Development.json
/LOGIN/.env
